{% extends "./plantilla.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}


{% endblock %}

{% block content %}
    <h1>Datos tabla peliculas</h1>
    {% include "resultadoBusqueda.html" %}

    <div id="mensaje"></div>
    <form id="addMovieForm" action="/movies_add" method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br>
    
        <label for="año">Año:</label>
        <input type="number" id="año" name="año" required><br>
    
        <label for="director">Director:</label>
        <input type="text" id="director" name="director" required><br>
    
        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" name="categoria" required><br>
    
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" step="0.01" required><br>
    
        <button type="submit">Agregar Película</button>
    </form>
<div class="table-responsive" style="max-height: 300px;">
    <table class="table">
        <thead>
            <tr>
                <th>ID Pelicula</th>
                <th>Titulo</th>
                <th>Anio</th>
                <th>Director</th>
                <th>Categoria</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody class="overflow-auto" style="max-height: 100px;">
            {% for pelicula in data %}
            <tr>
                <td>{{ pelicula.id_pelicula }}</td>
                <td>{{ pelicula.titulo }}</td>
                <td>{{ pelicula.año }}</td>
                <td>{{ pelicula.director }}</td>
                <td>{{ pelicula.categoria }}</td>
                <td>{{ pelicula.precio }}</td>
                <td>
                    <form action="{{ url_for('del_movie', id_pelicula=pelicula.id_pelicula) }}" method="POST">
                        <button type="submit" class="btn-borrar">Borrar</button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "registro.html" %}

{% endblock %}