
{% extends '/busqueda.html' %}

{% block body %}
<div id="resultado" class="text-center">
    <h4 class="te}xt-center">Resultado de tu busqueda<hr></h4>
    {% if (miData) %}    <!--Si existe-->
 
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id_pelicula</th>
                <th scope="col">Titulo</th>
                <th scope="col">Año</th>
                <th scope="col">Director</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ miData[0]}}</td>
                <td>{{ miData[1]}}</td>
                <td>{{ miData[2]}}</td>
                <td>{{ miData[3]}}</td>
                <td>{{ miData[4]}}</td>
                <td>{{ miData[5]}}</td>
              </tr>
            </tbody>
          </table>
    </div>
        
    {% else %}
        <p>No hay resultados para la busqueda:
            <strong class="busq colorCrimson"> {{ busqueda }}</strong>
        </p>
    {% endif %}

</div>

{% endblock %}